.appear-center {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
  -webkit-transition-duration: .7s;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}
